bokeh
click
datasets[vision]
git+https://github.com/altaris/turbo-broccoli
loguru
matplotlib
networkx
numpy
Pillow
pytorch-lightning
regex
safetensors
scikit-learn
seaborn
selenium==4.8.2
tensorboard
timm
torch
transformers