bokeh
click
git+https://github.com/altaris/turbo-broccoli.git
loguru
matplotlib
networkx
numpy
Pillow
pytorch-lightning
regex
safetensors
scikit-learn
seaborn
selenium==4.8.2
tensorboard
torch
torchvision
umap-learn