bokeh
click
git+https://github.com/altaris/turbo-broccoli.git@ec5c0a7a6bf1d6f400dc2972195ed62cd1cb1184
loguru
matplotlib
networkx
numpy
Pillow
pytorch-lightning
regex
safetensors
scikit-learn
seaborn
selenium==4.8.2
tensorboard
torch
torchvision